<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'delivery/css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Hi {{username}} here are you items
    <!-- show current menu -->
    <table border="1">
        <thead>
            <tr>
                <th>Item Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {%  for item in itemList %}
                <tr>
                    <td>
                        <img src="{{ item.picture }}">
                    </td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <h2>Total price : {{total_price}}</h2>
        
        <form action="{% url 'checkout' username %}">
            <input type="submit" value="CHECK OUT" />
        </form>
    </table>
</body>
</html>