<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'delivery/css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Page</title>
</head>
<body>
    <h3>Welcome {{username}}!</h3>

    <table border="1">
        <thead>
            <tr>
                <th>Restaurant name</th>
                <th>Picture</th>
                <th>Cuisine</th>
                <th>Rating</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            {%  for r in restaurantList %}
                <tr>
                    <td>{{ r.name }}</td>
                    <td>
                        <img src="{{ r.picture }}">
                    </td>
                    <td>{{ r.cuisine }}</td>
                    <td>{{ r.rating }}</td>
                    <td>
                        <a href="{% url 'view_menu' r.id username %}">
                            View Menu
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>