<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'delivery/css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Welcome {{username}}!</h3>

    <a href="{% url 'show_cart' username %}" >Go to cart</a>

    <!-- show current menu -->
    <table border="1">
        <thead>
            <tr>
                <th>Item name</th>
                <th>Picture</th>
                <th>Description</th>
                <th>Price</th>
                <th>Is veg?</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            {%  for item in itemList %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>
                        <img src="{{ item.picture }}">
                    </td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.vegeterian }}</td>
                    <td>
                        <a href="{% url 'add_to_cart' item.id username %}">
                            Add to cart
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>