<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'delivery/css/style.css' %}">
    
    <title>Sign IN</title>
</head>
<body>
    <h3>SIGN IN below:</h3>

    <form action="{% url 'signin' %}" method="post">
        {% csrf_token %}
        <label>Username </label>
        <input type="text" name="username">
        <br><br>
        <label>Password </label>
        <input type="password" name="password">
        <br><br>
        
        <br><br>
        <button type="submit">SIGN IN</button>
    </form>
</body>
</html>